<div class="nav-bar w-full">
  <div class="inline-flex w-full justify-content-between">
    <div class="" >
      <span class="mr-2">home</span>
      <span class="mr-2">home</span>
      <span class="mr-2">home</span>
      <span class="mr-2">home</span>
    </div>
    <div class="logo">
      LOGO
    </div>
    
    <div class="btn-reserva">
      <button pButton label=" RESERVE JÁ!" class="p-button-success"></button>
    </div>
  </div>
</div>


<div class="body">
  <div  class="body-img" >
    <div class="desc-principal">
      DESCANSE E APROVEITE SEM MEDO
    </div>
  </div>
</div>


<div class="footer">

</div>