
.logo{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: blue;
}

.body-img{
    display: flex;
width: 100vw;
height: calc(100vh - 47px);
margin-top: 47px;

background-image: url('../assets/imgs/dog.jpg');
background-position: center center;
background-size: contain;

}

.desc-principal{
    display: flex;
    justify-content: center;
    width: 100%;
    color: #d91b8b;
    font-size: 50px;
}